@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
:root {
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-yellow: hsl(71, 73%, 54%);
    --clr-light-gray: hsl(204, 43%, 93%);
    --clr-gray-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--clr-light-gray);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.header-container {
    background-color: white;
    height: 220px;
}

.container {
    width: 50vw;
    height: 75vh;
    max-width: 900px;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    border-radius: 16px;
    /*box-shadow: 0px 30px 7px 20px hsl(218, 64%, 10%);*/
}

.header {
    color: var(--clr-cyan);
    font-weight: 700;
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.8rem;
    letter-spacing: 1.2;
    line-height: 1.5;
    font-family: "Karla", sans-serif;
}

.btn {
    color: var(--clr-light-gray);
    font-weight: 700;
    letter-spacing: 1.5;
    background-color: var(--clr-yellow);
    width: 65%;
    height: 19%;
    border: none;
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.outro-header {
    font-size: 1.3rem;
    letter-spacing: 1.1;
    line-height: 1.2;
    color: var(--clr-yellow);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.8rem;
}

.header-paragraph {
    font-size: 1.1rem;
    color: var(--clr-gray-blue);
    padding-right: 2rem;
    font-weight: 400;
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    margin-right: 5.5rem;
    letter-spacing: 1;
    line-height: 1;
}

.second-grid-container {
    background-color: var(--clr-cyan);
    opacity: 0.8;
    height: 260px;
}

.highlight {
    color: var(--clr-light-gray);
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    letter-spacing: 1.2;
    line-height: 1.5;
}

.accent {
    color: var(--clr-light-gray);
    font-weight: 700;
    font-size: 1.7rem;
    padding-left: 2.5rem;
    letter-spacing: 1.2;
    line-height: 1.5;
}

.transparent {
    color: var(--clr-light-gray);
    font-weight: 400;
    font-family: "Karla", sans-serif;
    font-style: italic;
    padding-left: 10px;
    font-size: 1rem;
    position: relative;
    bottom: 3px;
    opacity: 0.4;
}

.paragraph-text {
    color: var(--clr-light-gray);
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

.third-grid-container {
    height: 260px;
    background-color: var(--clr-cyan);
    opacity: 0.6;
}

li {
    list-style-type: none;
    color: var(--clr-light-gray);
    opacity: 0.7;
    font-style: italic;
    padding-top: 0.2rem;
    font-family: "Karla", sans-serif;
}

ul {
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.2;
    letter-spacing: 1.3;
}

@media (max-width: 900px) {
    .grid {
        display: block;
    }
    .header-container {
        height: 210px;
    }
    .container {
        font-size: 1rem;
        margin: auto;
    }
    .header {
        font-size: 1.2rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        letter-spacing: 1;
        line-height: 1;
    }
    .outro-header {
        font-size: 1rem;
        letter-spacing: 1;
        line-height: 1;
    }
    .header-paragraph {
        font-size: 0.9rem;
        color: var(--clr-gray-blue);
        padding-right: 1rem;
        font-weight: 400;
        padding-top: 0.4rem;
        padding-left: 1.5rem;
        margin-right: 2rem;
        letter-spacing: 1;
        line-height: 1;
        font-weight: normal;
    }
    .highlight {
        font-size: 1.125rem;
    }
    .accent {
        font-size: 1.3rem;
    }
    .transparent {
        font-size: 0.8rem;
    }
    .paragraph-text {
        font-weight: 400;
        font-size: 0.8rem;
    }
    .second-grid-container {
        height: 240px;
    }
    .third-grid-container {
        height: 240px;
    }
    li {
        font-size: 0.8rem;
    }
}